{% extends 'app_tareas/plantilla_base.html' %}


{% block contenido %}

<div class = 'container'>
    {% comment %} <h2>TAREAS PENDIENTES DE: {{request.user}}</h2> {% endcomment %}
    <h2>LISTA DE TAREAS:</h2>
    <h2>{{mensaje}}</h2>
    <a href="{% url 'crear_tarea' %}" class="btn btn-primary btn-sm">Agregar</a>
</div>
<br>
<div class="container">

    <form action="" method="GET">
        <input type="text" name="buscar" value = "{{valor_buscado}}">
        <input type="submit" value="Buscar" class="btn btn-dark btn-sm">
    </form>
</div>
<br>
<div class ='container'>
    <div class = 'row'>
        <div class = 'col'>
            <table class = 'table table-hover table-responsive-sm overflow-y: hidden'>
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        {% comment %} <th>Descripcion</th> {% endcomment %}
                        <th>Categoria</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in tareas %}
                    <tr>
                        {% if i.completo %}
                            <td class="table-success">{{i.titulo}}</td> <!--  TR Table DATA -->
                            <td class="table-success">{{i.creado|date:"d/m/y"}}</td>
                            <td class="table-success"><a href="{% url 'tarea_usuario' i.usuario_id %}" class="btn btn-success btn-sm">{{i.usuario}}</a></td>
                            <td class="table-success">{{i.categoria}}</td>
                            <td class="table-success"><a id = visualizar href="{% url 'tarea' i.id %}" class="btn  btn-info btn-sm"><i class="far fa-eye"></i></a>
                            <a id = editar href="{% url 'editar_tarea' i.id %}" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></a>
                            <a id = eliminar href="{% url 'eliminar_tarea' i.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>                                 
                        {% else %}
                            <td>{{i.titulo}}</td> <!--  TR Table DATA -->
                            <td>{{i.creado|date:"d/m/y"}}</td>
                            <td><a href="{% url 'tarea_usuario' i.usuario_id %}" class="btn btn-danger btn-sm">{{i.usuario}}</a></td>
                            <td>{{i.categoria}}</td>

                            <td><a id = visualizar href="{% url 'tarea' i.id %}" class="btn  btn-info btn-sm"><i class="far fa-eye"></i></a>
                            <a  id = editar href="{% url 'editar_tarea' i.id %}" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></a>
                            <a  id = eliminar href="{% url 'eliminar_tarea' i.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>                                
                        {% endif %}                                

                                            
                    </tr>    
                    {% empty %}
                    <h3> No hay elementos en esta lista </h3>                    
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido %}