<!DOCTYPE html>
<html>
{% extends 'app_tareas/plantilla_base.html' %}

{% block contenido %}


  {{request.user}} &nbsp;&nbsp;
    <a href="{% url 'logout' %}">Salir</a>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'login' %}">Ingresar</a>   </p></p>
    
    <h2 style="font-size:80px; color:rgb(12, 88, 46); margin:10px;">Administrador de Tareas</h2>
    <body>
      
      <p style="text-align:start;color:rgb(12, 88, 46)">         
             
              <i>La herramienta esencial para tu negocio</i>
              </p> 
                
                  {% load static %}
                  <center><img  src="{% static 'app_tareas\assets\img\Ronda.jpg' %}" alt="Creando Sinergias"></center>
                   <p style="vertical-align:bottom ; text-align: right;"><i>creando sinergias</i></p>
         
    </body>
 

{% endblock %}
</html>