<!DOCTYPE html>
<html>


{% extends 'app_tareas/plantilla_base.html' %}

{% block contenido %}


<title>ACERCA DE NOSOTROS</title>


<h1>Acerca de Nosotros</h1>
&nbsp;&nbsp;&nbsp;&nbsp;
<body>
    <p>Nuestro grupo de trabajo fue conformado al azar (random), pero con un trébol de cuatro hojas debajo de la manga.
    <p>Tenemos la suerte de tener diversidad, en solo tres integrantes de este dream team. Mauricio, nuestro creativo, llegó con una necesidad real que en seguida cautivó. Matías, con su rapidez y practicidad nos iluminó el camino correcto. Teresa, con sus palabras alentó y comunico a este team.
    <p>Lo podrán ver en el resultado: ¡este equipo está hecho para ganar!</p>
</body>
<br><br/>
<body>
    {% load static %}
        <img src="{% static 'app_tareas\assets\img\Mauricio.png' %}" alt="Mauricio" width="200" height="200">
        &nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'app_tareas\assets\img\Matias.jpeg' %}" alt="Matias" width="200" height="200">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'app_tareas\assets\img\Teresa.jpg' %}" alt="Teresa" width="200" height="200">
    
    
</body>

<br><br/>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<h1>Acerca de este Proyecto</h1>
&nbsp;&nbsp;&nbsp;&nbsp;
<body>
    <p>Esta página está diseñada para coordinar un equipo de trabajo, donde cada operador tiene asignadas distintas tareas. Cada operador puede acceder al listado de tareas pendientes y marcarlas como realizadas. 
    <p>El usuario administrador es quien tiene los permisos para editar y borrar.
    <p>Podemos visualizar y filtrar el listado de Operadores, Categorías y Tareas en cada solapa correspondiente.
    La web es muy fácil de navegar, ademas de intuitiva y práctica. Los invito a comprobarlo ustedes mismos!!    
    </p>
</body>

{% endblock %}
</html>